@model PageViewModel
@{
    ViewData["Title"] = "Page";
}
@if (!string.IsNullOrEmpty(@Model.Parts.ToList().FirstOrDefault().Subsection))
{
    <h1>@Model.Parts.ToList().FirstOrDefault().Subsection</h1>
}
else
{
    <h1>@Model.Parts.ToList().FirstOrDefault().Section</h1>
}

<div class="row">
    @foreach (var part in Model.Parts.ToList())
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-2">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@part.PartName</h5>
                    <p class="card-text">@part.Availibility</p>
                </div>
            </div>
        </div>
    }

        <nav aria-label="...">
            <ul class="pagination">
                @if (Model.PageInfo.PageNumber == 1)
                {
                    <li class="page-item disabled">
                        @Html.ActionLink("Previous", "PreviousPage", "Home", new { sectionAndSubsectionId = Model.SectionOrSubsectionId, page = Model.PageInfo.PageNumber - 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink("Previous", "PreviousPage", "Home", new { sectionAndSubsectionId = Model.SectionOrSubsectionId, page = Model.PageInfo.PageNumber - 1 }, new { @class = "page-link" })
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>

                <li class="page-item active">
                    <a class="page-link" href="#">@Model.PageInfo.PageNumber <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                @if (Model.PageInfo.PageNumber == Model.PageInfo.TotalPages)
                {
                    <li class="page-item disabled">
                        @Html.ActionLink("Next", "NextPage", "Home", new { sectionAndSubsectionId = Model.SectionOrSubsectionId, page = Model.PageInfo.PageNumber + 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink("Next", "NextPage", "Home", new { sectionAndSubsectionId = Model.SectionOrSubsectionId, page = Model.PageInfo.PageNumber + 1 }, new { @class = "page-link" })
                    </li>
                }
            </ul>
        </nav>
    </p>
    
    
    

</div>
